<footer>
  <div class="{{ colors.footerCustom.barBg or colors.footerDefault.barBg }}">
    <div class="max-w-screen-xl px-4 py-12 mx-auto sm:px-6 md:flex md:items-center md:justify-between lg:px-8">
      <div class="flex justify-center md:order-2 {{ colors.socialIconsCustom or colors.socialIconsDefault }}">
        {% if structure.g_showFooterSocialIcons %}

          {# Display Social icons from _data/social.json  #}
          {% for site in social %}
            {% if site.url %}
              <a aria-label="Link to {{ site.platform }}" alt="Link to {{ site.platform }}" class="hover:{{ colors.socialIconsHoverCustom or colors.socialIconsHoverDefault }}" href="{{ site.url | url }}">
                {% svg site.platform, "mx-2 h-6 w-6 fill-current", site.platform, "footer" %}
              </a>
            {% endif %}
          {% endfor %}

        {% endif %}
      </div>
      <div class="mt-8 md:mt-0 md:order-1">
        <p class="text-center text-base leading-6 {{ colors.footerCustom.text or colors.footerDefault.text }}">
          &copy; {{ build.timestamp | dateToFormat('yyyy') }}, {{ "Keith Taylor" }} <br />
          [<a href="/">Home</a>] | [<a href="/about-prospra/about-prospra-com/">About</a>] | [<a href="/about-prospra/purpose-of-prospra-com">Purpose</a>] | [<a href="/about-prospra/contact-prospra-com">Contact</a>] | [<a href="/about-prospra/prospra-com-privacy-policy">Privacy</a>] | [<a href="/about-prospra/prospra-com-terms-and-conditions">T&Cs</a>] | [<a href="/about-prospra/prospra-com-news-and-notifications">Notifications</a>] | [<a href="/about-prospra/help-prospra-com">Help</a>] | [<a href="https://cse.google.com/cse?cx=2bf1e05c3c5da97fa">Search</a>]
        </p>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "5rrxc6rptv");
  </script>
</footer>
